

.features{
    padding: 5rem 0;
}

.featureContainer{
    width: 86%;
    margin: 0 auto;
}

.featuresHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featuresHeader p{
    padding: 2rem 0 3rem;
    width: 60%;
    text-align: center;

}

.featuresMain{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.featuresMain article{
    padding: 1.5rem 0 1rem;
    box-shadow: 0 0 1rem gray;
}

.featuresMain article p{
    margin: 1.5rem 0 2.5rem;
}