

.features{
    padding: 5rem 0;
}

.featureContainer{
    width: 86%;
    margin: 0 auto;
}

.featuresHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featuresHeader p{
    padding: 2rem 0 3rem;
    width: 60%;
    text-align: center;

}

.featuresMain{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.featuresMain article{
    /* padding: 1.5rem 0 1rem; */
    box-shadow: 0 0 1rem gray;
    /* position: relative; */
    border-radius: 1rem;
    overflow: hidden;
}

.featuresMain article p{
    margin: 1.5rem 0 2.5rem;
}

.featureCardMain{
    padding: 0.9rem 1rem 0.5rem;
}


/* .featureCardBottom{
    
} */

/* .featureCardBottom img{
    position: absolute;
    bottom: -10.5rem;
} */


/*==========  TABLET ========*/

@media screen and (max-width: 64rem) {
    
   
    .featuresMain{
        grid-template-columns: 1fr 1fr;
    }
}


/*==========  SMALL DEVICES ========*/

@media screen and (max-width: 34rem) {
    
   
    .featuresMain{
        grid-template-columns: 1fr;
    }
}