.compliant {
    padding: 3rem 0;
  }
  
  .compliantContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 86%;
    margin: 0 auto;
    place-items: center;
  }
  
  .compliantContainerLeft p{
  margin: 1.5rem 0 2rem;
  }
  
  
  .compliantItems{
      display: flex;
      gap: 2.5rem;
  }
  
  .compliantItems article h5{
      margin: 1rem 0 1.2rem;
      /* background-color: aqua; */
  }
  
  .compliantContainerRight img{
      width: 25rem;
  }
  
  
  
  .Icon{
      padding: 1.2rem;
      border-radius: 0.5rem;
      background-color: rgba(226, 226, 226, 0.301);
  }