.nav {
    /* display: grid;
    place-content: center; */
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    backdrop-filter: blur(20px);
    box-shadow: -2rem 0 1rem rgb(234, 224, 243);
}

.navContainer {
    width: var(--container-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}


.navContainerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navContainerLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

}

.menuItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.demo {
    background-color: orange;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    color: whitesmoke;
}

.navIcon {
    width: 2rem;
}

.navBtns {
    display: none;
}

.Icon {
    font-size: 2rem;
}




@media screen and (max-width: 600px) {

    .container {
        width: var(--container-width-sm);
        background-color: aqua;
    }

    .menuItems {
        flex-direction: column;
        gap: 0;
        background-color: bisque;
        position: absolute;
        top: 4rem;
        right: 0;
    }

    .menuItems li {
        padding: 1rem 2rem;
        background-color: rgb(238, 238, 238);
        width: 100%;
        box-shadow: -0.5rem 0 5rem rgb(197, 198, 199);
    }

    .menuItems li a {
        color: black;
    }

    .navIcon {
        width: 1.5rem;
    }

    .navContainerRight {
        gap: 1rem;
    }

    .demo {
        display: none;
    }

    .navBtns {
        display: inline-block;
    }



}